[Unit]
Description=Generate Traffic
After=truncate_all_tables.service


[Service]
Type=simple
Environment=PATH=/root/affiliate-junction-demo/.venv/bin:/usr/local/bin:/usr/bin:/bin
Environment=VIRTUAL_ENV=/root/affiliate-junction-demo/.venv
WorkingDirectory=/root/affiliate-junction-demo
ExecStartPre=/bin/sleep 30
ExecStart=/root/affiliate-junction-demo/.venv/bin/python /root/affiliate-junction-demo/generate_traffic.py
Restart=on-failure
User=root
TimeoutStartSec=90

[Install]
WantedBy=multi-user.target
