[Unit]
Description=Use PySpark to move data from HCD to Presto Iceberg
After=generate_traffic.service


[Service]
Type=simple
Environment=PATH=/root/affiliate-junction-demo/.venv/bin:/usr/local/bin:/usr/bin:/bin
Environment=VIRTUAL_ENV=/root/affiliate-junction-demo/.venv
WorkingDirectory=/root/affiliate-junction-demo
ExecStartPre=/bin/sleep 60
ExecStart=/root/affiliate-junction-demo/.venv/bin/python /root/affiliate-junction-demo/hcd_to_presto.py
Restart=on-failure
User=root
TimeoutStartSec=120

[Install]
WantedBy=multi-user.target
