[Unit]
Description=Minio Console Port Forward (9001)
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/kubectl port-forward -n wxd svc/ibm-lh-minio-svc 9001:9001 --address=0.0.0.0
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target