[Unit]
Description=Remove old data from Presto Iceberg tables
After=presto_to_hcd.service


[Service]
Type=simple
Environment=PATH=/root/affiliate-junction-demo/.venv/bin:/usr/local/bin:/usr/bin:/bin
Environment=VIRTUAL_ENV=/root/affiliate-junction-demo/.venv
WorkingDirectory=/root/affiliate-junction-demo
ExecStart=/root/affiliate-junction-demo/.venv/bin/python /root/affiliate-junction-demo/presto_cleanup.py
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target
