[Unit]
Description=Use PySpark to move data from Presto Iceberg to HCD
After=hcd_to_presto.service


[Service]
Type=simple
Environment=PATH=/root/affiliate-junction-demo/.venv/bin:/usr/local/bin:/usr/bin:/bin
Environment=VIRTUAL_ENV=/root/affiliate-junction-demo/.venv
WorkingDirectory=/root/affiliate-junction-demo
ExecStart=/root/affiliate-junction-demo/.venv/bin/python /root/affiliate-junction-demo/presto_to_hcd.py
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target
