<!-- Sidebar navigation partial -->
<div class="mt-4 p-3 bg-white border rounded" _style="height:90vh;">
  <h5>Advertiser</h5>
  <nav class="nav flex-column">
    <!-- Navigation items will be added here -->
    <a class="nav-link" href="#">Home</a>
    <a class="nav-link" href="#">Dashboard</a>
    <a class="nav-link" href="#">Settings</a>
  </nav>
</div>

<div class="mt-4 p-3 bg-white border rounded" _style="height:90vh;">
  <h5>Publisher</h5>
  <nav class="nav flex-column">
    <!-- Navigation items will be added here -->
    <a class="nav-link" href="#">Home</a>
    <a class="nav-link" href="#">Dashboard</a>
    <a class="nav-link" href="#">Settings</a>
  </nav>
</div>

<div class="mt-4 p-3 bg-white border rounded" _style="height:90vh;">
  <h5>Admin</h5>
  <nav class="nav flex-column">
    <!-- Navigation items will be added here -->
    <a class="nav-link" href="#">Home</a>
    <a class="nav-link" href="#">Dashboard</a>
    <a class="nav-link" href="#">Settings</a>
  </nav>
</div>