<!-- Sidebar navigation partial -->
<div class="mt-4 p-3 bg-white border rounded" _style="height:90vh;">
  <h5>Advertiser</h5>

  <div class="mb-3">
    View real-time and analytic data using the Advertiser persona.
  </div>
    
  <nav class="nav flex-column">
    <!-- Advertisers dropdown -->
    <div class="mb-3">
      <label for="advertisersSelect" class="form-label">Select Advertiser:</label>
      <select class="form-select" id="advertisersSelect" onchange="onAdvertiserChange()">
        <option value="">Loading advertisers...</option>
      </select>
    </div>

  </nav>
</div>

<div class="mt-4 p-3 bg-white border rounded" _style="height:90vh;">
  <h5>Publisher</h5>

  <div class="alert alert-info">TODO.  Will largely mirror the advertiser view</div>
</div>

<div class="mt-4 p-3 bg-white border rounded" _style="height:90vh;">
  <h5>Admin</h5>
  <div class="alert alert-info">TODO.  Will include dashbaords for fraud and total payout</div>
</div>